@model IEnumerable<MagicSunset.Data.Dishess>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dishname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dishkind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.allergens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodkind)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dishname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dishkind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.allergens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foodkind)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
